<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="false.css">
    <link rel="stylesheet" href="reset.css">

    <title>Лабораторная работа 7</title>
</head>

<body>

   <div id="app">
    <header class="header">
        <div class="container">
            <div class="conainer_content">
                <img src="./img/BlogLogo.png" alt="Logo">

                <div class="header_flex">
                    <img src="img/Profile.svg" alt="profile">

                    <div>
                        <a id="Best_id" class="link" href="#">Войти</a>
                        <a class="link" href="/reg.html">Зарегистрироваться</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="block">
        <div class="container">
            <h1 class="zagolovok">Последние публикации</h1>

            <div class="zagolovich">
                <div class="zagolovich_left">
                    <div class="block_items">

                        <div v-for="it in posts" class="item">
                            <img v-bind:src="it.image" alt="Картинка">
    
                            <div class="item_text">
                                <h3>{{it.title}}</h3>
                                <p class="item_p">{{it.intro}}</p>
                            </div>
    
                            <div class="line">
                                <span  v-for="label in it.labels" v-bind:data-categories="label" class="written">
                                    {{label}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <button class="load_items">Загрузить ещё 6</button>
                </div>

                <div class="second_block">
                    <h3>Рубрики</h3>
                    
                    <div class="buttons">
                        <button class="button" data-categories="Education">Обучение</button>
                        <button class="button" data-categories="Career">Карьера</button>
                        <button class="button" data-categories="Figma">Figma</button>
                        <button class="button" data-categories="Console">Консоль</button>
                        <button class="button" data-categories="Git">Git</button>
                        <button class="button" data-categories="News">Новости</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer_links">
                <a class="footer_link" href="#">Об авторе</a>
                <a class="footer_link" href="#">Технологии</a>
            </div>

            <div class="info_blog">
                <span>© Blog, 2022</span>
            </div>
        </div>
    </footer>

    <div class="modal block_hide">
        <form class="Forma_newblock">
            <div class="Divnoe">
                <h2 class="Zagolovok_Enter">Вход</h2>
                <img id="exit" class="Imagenava" src="img/Union.svg" alt="Exit">
            </div>
            
            <div class="Divniymir">
                <label for="Login_Dnd_JS" class="Login_DnD">Логин</label>
                <input id="Login_Dnd_JS"  class="cool_inputs" type="text">
            </div>
    
            <div class="Divinchi">
                <label for="Password_DnD_JS" class="Login_DnD">Пароль</label>
                <input id="Password_DnD_JS"  class="cool_inputs" type="password">
            </div>
    
            <div class="Lower_styles">
                <button class="knopka_voiti">Войти</button>
                <a class="Forget" href="#">Забыли пароль?</a>
            </div>
    
            
        </form>
    </div>
   </div>

    <script src="/inform.js"></script>
    <script src="/massive.js"></script>
    <script src="/StartingVue.js"></script>
    <script src="/newdnd copy.js"></script>
    
</body>

</html>